* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  align-items: center;
  margin: 5px 10px;
}

h1,
h2 {
  font-size: 32px;
}

nav h3 {
  margin: 0 20px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  margin: 10px;
}

.date {
  display: flex;
  justify-content: end;
  margin: 0 10px;
}

.form-class {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

.form-class input {
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 300px;
  border: 2px solid black;
  text-align: left;
}

.form-class button {
  border: 2px solid black;
  box-shadow: 2px 2px;
  padding: 2px 10px;
}

.vector {
  background-color: black;
  padding: 1px;
  width: 2px;
  height: 20px;
}

.books-container {
  border: 2px solid black;
  margin: 20px 0;
}

.book-class {
  display: flex;
  width: 550px;
  text-align: left;
}

.book-class:nth-child(even) {
  background: #fff;
}

.book-class:nth-child(odd) {
  background: lightgray;
}

.book-class article {
  flex: 1;
  display: flex;
  padding: 5px;
  margin: 5px 10px;
}

.book-class button {
  border: 2px solid black;
  box-shadow: 2px 2px;
  justify-self: flex-end;
  margin: 5px 10px;
  background: #fff;
}

.contact-info h2 {
  margin-bottom: 50px;
}

.contact-info p {
  text-align: left;
  padding: 5px;
}

.contact-info li {
  text-align: left;
  line-height: 25px;
}

.contact-info ul {
  margin: 20px 0 80px 0;
  padding: 20px 60px;
}